Repository vazco/uniforms, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Bridge, Area: Core, Area: Docs, Area: Infra, Area: Theme, Bridge: JSON Schema, Bridge: SimpleSchema (v2), Bridge: Zod, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

.github/labeler.yml:

'Area: Bridge':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bridge-json-schema/**/*
          - packages/uniforms-bridge-simple-schema-2/**/*
          - packages/uniforms-bridge-zod/**/*
'Area: Core':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms/**/*
'Area: Docs':
  - changed-files:
      - any-glob-to-any-file:
          - CODE_OF_CONDUCT.md
          - LICENSE
          - README.md
          - docs/**/*
          - reproductions/**/*
          - website/**/*
'Area: Infra':
  - changed-files:
      - any-glob-to-any-file:
          - .editorconfig
          - .eslintignore
          - .eslintrc.json
          - .github/**/*
          - .gitignore
          - .lintstagedrc.js
          - .prettierignore
          - .prettierrc.js
          - .stylelintrc
          - jest.config.js
          - lerna.json
          - package-lock.json
          - package.json
          - scripts/**/*
          - tsconfig.build.json
          - tsconfig.global.json
          - tsconfig.json
'Area: Theme':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-antd/**/*
          - packages/uniforms-bootstrap3/**/*
          - packages/uniforms-bootstrap4/**/*
          - packages/uniforms-bootstrap5/**/*
          - packages/uniforms-material/**/*
          - packages/uniforms-mui/**/*
          - packages/uniforms-semantic/**/*
          - packages/uniforms-unstyled/**/*
'Bridge: JSON Schema':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bridge-json-schema/**/*
'Bridge: SimpleSchema (v2)':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bridge-simple-schema-2/**/*
'Bridge: Zod':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bridge-zod/**/*
'Theme: AntD':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-antd/**/*
'Theme: Bootstrap 3':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bootstrap3/**/*
'Theme: Bootstrap 4':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bootstrap4/**/*
'Theme: Bootstrap 5':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bootstrap5/**/*
'Theme: Material-UI':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-material/**/*
'Theme: MUI':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-mui/**/*
'Theme: Semantic UI':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-semantic/**/*
'Theme: Unstyled':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-unstyled/**/*

Added a few options specific for some props and moved test to AntD
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-antd/__tests__/wrapField.tsx
  packages/uniforms-material/__tests__/index.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms/__suites__/wrapField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Material-UI, Theme: MUI

Completed tests
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-material/__tests__/index.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms/__suites__/wrapField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Material-UI, Theme: MUI

Removing uniforms-material from website and reproductions
  docs/installation.mdx
  package-lock.json
  reproductions/package.json
  tsconfig.build.json
  tsconfig.global.json
  website/components/ExampleCustomizer.tsx
  website/components/Playground.tsx
  website/components/TutorialForm.tsx
  website/lib/styles.tsx
  website/lib/universal.tsx
  website/package.json
  website/pages-parts/LandingPage/WhyUs.tsx
Labels: Area: Docs, Area: Infra

Removed unused props
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms/__suites__/wrapField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: MUI

Used container from zod
  packages/uniforms-antd/__tests__/wrapField.tsx
Labels: Area: Theme, Theme: AntD

update docs
  docs/installation.mdx
Labels: Area: Docs

Regenerating package-lock file
  package-lock.json
Labels: Area: Infra

Regenerating package-lock file
  package-lock.json
  tsconfig.json
Labels: Area: Infra

Rewritten tests for DateField for Material theme
  packages/uniforms-material/__tests__/DateField.tsx
Labels: Area: Theme, Theme: Material-UI

Rewritten tests for DateField for Mui theme
  packages/uniforms-mui/__tests__/DateField.tsx
Labels: Area: Theme, Theme: MUI

Fixing eslint errors
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-bootstrap3/__tests__/index.ts
  packages/uniforms-bootstrap4/__tests__/index.ts
  packages/uniforms-bootstrap5/__tests__/index.ts
  packages/uniforms-bridge-zod/src/ZodBridge.ts
  packages/uniforms-material/__tests__/DateField.tsx
  packages/uniforms-material/__tests__/ErrorField.tsx
  packages/uniforms-material/__tests__/ErrorsField.tsx
  packages/uniforms-material/__tests__/NestField.tsx
  packages/uniforms-material/__tests__/SelectField.tsx
  packages/uniforms-material/__tests__/index.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-semantic/__tests__/index.ts
  packages/uniforms-unstyled/__tests__/index.ts
  website/components/Badge.tsx
  website/components/ExampleCustomizer.tsx
  website/components/FormWrapper.tsx
  website/components/TogglerTabs.tsx
  website/components/TutorialForm.tsx
  website/pages-parts/LandingPage/Footer.tsx
  website/pages-parts/LandingPage/LandingPage.tsx
Labels: Area: Bridge, Area: Docs, Area: Theme, Bridge: Zod, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

Merging package-lock from master
  package-lock.json
Labels: Area: Infra
