Repository vazco/uniforms, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Bridge, Area: Core, Area: Docs, Area: Infra, Area: Theme, Bridge: JSON Schema, Bridge: SimpleSchema (v2), Bridge: Zod, Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

Fix deps after merge
  package.json
  packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts
  pnpm-lock.yaml
Labels: Area: Bridge, Area: Infra, Bridge: JSON Schema

Remove detecting cycles
  packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts
Labels: Area: Bridge, Bridge: JSON Schema

Remove detecting cycles
  packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts
Labels: Area: Bridge, Bridge: JSON Schema

Remove unused deps
  package.json
  packages/uniforms-bridge-json-schema/package.json
Labels: Area: Bridge, Area: Infra, Bridge: JSON Schema

Update pnpm-lock
  pnpm-lock.yaml
Labels: none

updated @testing-library/react to v15
  package.json
  pnpm-lock.yaml
Labels: Area: Infra

updated @testing-library/react to v16
  package.json
  pnpm-lock.yaml
Labels: Area: Infra

updated @testing-library/jest-dom
  package.json
  pnpm-lock.yaml
  scripts/setupMatchers.ts
Labels: Area: Infra

updated react to v19
  packages/uniforms-antd/package.json
  packages/uniforms-bootstrap4/package.json
  packages/uniforms-bootstrap5/package.json
  packages/uniforms-bridge-simple-schema-2/package.json
  packages/uniforms-mui/package.json
  packages/uniforms-semantic/package.json
  packages/uniforms-unstyled/package.json
  packages/uniforms/package.json
  pnpm-lock.yaml
Labels: Area: Bridge, Area: Core, Area: Theme, Bridge: SimpleSchema (v2), Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

fixed TS errors in build process
  packages/uniforms-antd/src/ListField.tsx
  packages/uniforms-bootstrap4/src/ListField.tsx
  packages/uniforms-bootstrap5/src/ListField.tsx
  packages/uniforms-mui/src/ListField.tsx
  packages/uniforms-semantic/src/ListField.tsx
  packages/uniforms-unstyled/src/ListField.tsx
Labels: Area: Theme, Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

removed defaultProps
  packages/uniforms-bootstrap4/src/ListAddField.tsx
  packages/uniforms-bootstrap4/src/ListDelField.tsx
  packages/uniforms-bootstrap4/src/SubmitField.tsx
  packages/uniforms-bootstrap5/src/ListAddField.tsx
  packages/uniforms-bootstrap5/src/ListDelField.tsx
  packages/uniforms-bootstrap5/src/SubmitField.tsx
  packages/uniforms-semantic/src/NestField.tsx
  packages/uniforms-semantic/src/TextField.tsx
  packages/uniforms-unstyled/src/TextField.tsx
Labels: Area: Theme, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Semantic UI, Theme: Unstyled

changed JSX to React.JSX
  packages/uniforms/__suites__/LongTextField.tsx
  packages/uniforms/__suites__/TextField.tsx
  packages/uniforms/__tests__/AutoForm.tsx
Labels: Area: Core

updated react to v19
  packages/uniforms-antd/package.json
  packages/uniforms-bootstrap4/package.json
  packages/uniforms-bootstrap5/package.json
  packages/uniforms-bridge-simple-schema-2/package.json
  packages/uniforms-mui/package.json
  packages/uniforms-semantic/package.json
  packages/uniforms-unstyled/package.json
  packages/uniforms/package.json
  pnpm-lock.yaml
  reproductions/package.json
Labels: Area: Bridge, Area: Core, Area: Docs, Area: Theme, Bridge: SimpleSchema (v2), Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

fixed type issue in render-zod
  packages/uniforms/__suites__/render-zod.tsx
Labels: Area: Core

commented not working tests
  packages/uniforms/__suites__/ListField.tsx
  packages/uniforms/__tests__/AutoForm.tsx
  packages/uniforms/__tests__/ValidatedForm.tsx
Labels: Area: Core

reverted empty string in TextField and LongTextField
  packages/uniforms-antd/src/LongTextField.tsx
  packages/uniforms-antd/src/TextField.tsx
  packages/uniforms-bootstrap4/src/LongTextField.tsx
  packages/uniforms-bootstrap4/src/TextField.tsx
  packages/uniforms-bootstrap5/src/LongTextField.tsx
  packages/uniforms-bootstrap5/src/TextField.tsx
  packages/uniforms-mui/src/LongTextField.tsx
  packages/uniforms-mui/src/TextField.tsx
  packages/uniforms-semantic/src/LongTextField.tsx
  packages/uniforms-semantic/src/TextField.tsx
  packages/uniforms-unstyled/src/LongTextField.tsx
  packages/uniforms-unstyled/src/TextField.tsx
  packages/uniforms/__suites__/LongTextField.tsx
  packages/uniforms/__suites__/TextField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

Rollback pnpm-lock.yaml changes
  pnpm-lock.yaml
Labels: none

updated deprecated package information
  website/docs/getting-started/migrating-3-to-4.md
Labels: Area: Docs

changed latest to specific version in docs
  website/docs/getting-started/migrating-3-to-4.md
Labels: Area: Docs

Added migration guide from 3 to 4 to docs (#1395)
  website/docs/getting-started/custom-theme.md
  website/docs/getting-started/faq.mdx
  website/docs/getting-started/migrating-3-to-4.md
Labels: Area: Docs

added docs deployment to the CI
  .github/workflows/CI.yml
Labels: Area: Infra

Recursive schema evaluation - stop evaluating initial value for empty array (#1282)
  packages/uniforms-bridge-json-schema/__tests__/JSONSchemaBridge.ts
  packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts
Labels: Area: Bridge, Bridge: JSON Schema

Empty string if text field is empty instead of undefined (#1399)
  packages/uniforms-antd/src/LongTextField.tsx
  packages/uniforms-antd/src/TextField.tsx
  packages/uniforms-bootstrap4/src/LongTextField.tsx
  packages/uniforms-bootstrap4/src/TextField.tsx
  packages/uniforms-bootstrap5/src/LongTextField.tsx
  packages/uniforms-bootstrap5/src/TextField.tsx
  packages/uniforms-mui/src/LongTextField.tsx
  packages/uniforms-mui/src/TextField.tsx
  packages/uniforms-semantic/src/LongTextField.tsx
  packages/uniforms-semantic/src/TextField.tsx
  packages/uniforms-unstyled/src/LongTextField.tsx
  packages/uniforms-unstyled/src/TextField.tsx
  packages/uniforms/__suites__/LongTextField.tsx
  packages/uniforms/__suites__/TextField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

updated version to 4.0.0-beta.5
  CHANGELOG.md
  packages/uniforms-antd/package.json
  packages/uniforms-bootstrap4/package.json
  packages/uniforms-bootstrap5/package.json
  packages/uniforms-bridge-json-schema/package.json
  packages/uniforms-bridge-simple-schema-2/package.json
  packages/uniforms-bridge-zod/package.json
  packages/uniforms-mui/package.json
  packages/uniforms-semantic/package.json
  packages/uniforms-unstyled/package.json
  packages/uniforms/package.json
Labels: Area: Bridge, Area: Core, Area: Theme, Bridge: JSON Schema, Bridge: SimpleSchema (v2), Bridge: Zod, Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

removed broken links
  website/docs/api-reference/fields.mdx
  website/docs/api-reference/forms.mdx
  website/docs/getting-started/basic-usage.mdx
  website/docs/getting-started/faq.mdx
Labels: Area: Docs

.github/labeler.yml:

'Area: Bridge':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bridge-json-schema/**/*
          - packages/uniforms-bridge-simple-schema-2/**/*
          - packages/uniforms-bridge-zod/**/*
'Area: Core':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms/**/*
'Area: Docs':
  - changed-files:
      - any-glob-to-any-file:
          - CODE_OF_CONDUCT.md
          - LICENSE
          - README.md
          - docs/**/*
          - reproductions/**/*
          - website/**/*
'Area: Infra':
  - changed-files:
      - any-glob-to-any-file:
          - .editorconfig
          - .eslintignore
          - .eslintrc.json
          - .github/**/*
          - .gitignore
          - .lintstagedrc.js
          - .prettierignore
          - .prettierrc.js
          - .stylelintrc
          - jest.config.js
          - turbo.json
          - package-lock.json
          - package.json
          - scripts/**/*
          - tsconfig.build.json
          - tsconfig.global.json
          - tsconfig.json
'Area: Theme':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-antd/**/*
          - packages/uniforms-bootstrap4/**/*
          - packages/uniforms-bootstrap5/**/*
          - packages/uniforms-mui/**/*
          - packages/uniforms-semantic/**/*
          - packages/uniforms-unstyled/**/*
'Bridge: JSON Schema':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bridge-json-schema/**/*
'Bridge: SimpleSchema (v2)':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bridge-simple-schema-2/**/*
'Bridge: Zod':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bridge-zod/**/*
'Theme: AntD':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-antd/**/*
'Theme: Bootstrap 4':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bootstrap4/**/*
'Theme: Bootstrap 5':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-bootstrap5/**/*
'Theme: MUI':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-mui/**/*
'Theme: Semantic UI':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-semantic/**/*
'Theme: Unstyled':
  - changed-files:
      - any-glob-to-any-file:
          - packages/uniforms-unstyled/**/*
