Repository vazco/uniforms, pull requests merged in 2021-04, with the labels that each got.

#922 Fixed leaking timeout (fixes #920).
  packages/uniforms/__tests__/BaseForm.tsx
  packages/uniforms/src/BaseForm.tsx
Labels: bug

#921 Improved helpers docs.
  docs/api-bridges.md
  docs/api-helpers.md
Labels: enhancement

#917 Add Bootstrap 5 to the docs and playground (closes #913).
  README.md
  docs/api-fields.md
  docs/compare-matrix-landing.md
  docs/compare-matrix.md
  docs/installation.mdx
  docs/what-are-uniforms.md
  reproductions/App.tsx
  reproductions/index.html
  reproductions/package-lock.json
  reproductions/package.json
  website/components/ExampleCustomizer.tsx
  website/components/TutorialForm.tsx
  website/lib/styles.tsx
  website/lib/universal.tsx
  website/package.json
  website/pages-parts/LandingPage/WhyUs.tsx
  website/static/img/bridge-concept.svg
Labels: enhancement

#930 Added `submitted` context data documentation (closes #914).
  docs/api-context-data.md
Labels: enhancement

#925 Add Ajv v8 support in uniforms-bridge-json-schema (closes #923).
  packages/uniforms-bridge-json-schema/__tests__/JSONSchemaBridge.ts
  packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts
Labels: enhancement

#926 Updated ajv version in reproductions and website.
  package-lock.json
  package.json
  reproductions/package-lock.json
  reproductions/package.json
  website/package.json
Labels: dependencies

#927 Add 'showInlineError' property to AutoFields (closes #827).
  packages/uniforms-antd/__tests__/AutoFields.tsx
  packages/uniforms-antd/src/AutoFields.tsx
  packages/uniforms-bootstrap3/__tests__/AutoFields.tsx
  packages/uniforms-bootstrap3/src/AutoFields.tsx
  packages/uniforms-bootstrap4/__tests__/AutoFields.tsx
  packages/uniforms-bootstrap4/src/AutoFields.tsx
  packages/uniforms-bootstrap5/__tests__/AutoFields.tsx
  packages/uniforms-bootstrap5/src/AutoFields.tsx
  packages/uniforms-material/__tests__/AutoFields.tsx
  packages/uniforms-material/src/AutoFields.tsx
  packages/uniforms-semantic/__tests__/AutoFields.tsx
  packages/uniforms-semantic/src/AutoFields.tsx
Labels: enhancement

#935 Optimized joinName.
  packages/uniforms/__tests__/joinName.ts
  packages/uniforms/src/joinName.ts
Labels: enhancement

#936 Added conditional properties and required field assignment in uniforms-bridge-json-schema (closing #919).
  packages/uniforms-bridge-json-schema/__tests__/JSONSchemaBridge.ts
  packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts
Labels: bug

#939 Optimized `filterDOMProps`.
  packages/uniforms/src/filterDOMProps.ts
Labels: enhancement
