Repository vazco/uniforms, pull requests merged in 2021-02, with the labels that each got.

#824 Add Multiselect (closes #737)
  packages/uniforms-antd/src/SelectField.tsx
  packages/uniforms-bootstrap3/__tests__/SelectField.tsx
  packages/uniforms-bootstrap3/src/SelectField.tsx
  packages/uniforms-bootstrap4/__tests__/SelectField.tsx
  packages/uniforms-bootstrap4/src/SelectField.tsx
  packages/uniforms-material/__tests__/SelectField.tsx
  packages/uniforms-semantic/__tests__/SelectField.tsx
  packages/uniforms-semantic/src/SelectField.tsx
  packages/uniforms-unstyled/__tests__/SelectField.tsx
  packages/uniforms-unstyled/src/SelectField.tsx
Labels: enhancement

#800 Implemented custom AutoField prototype.
  packages/uniforms-antd/__tests__/AutoField.tsx
  packages/uniforms-antd/src/AutoField.tsx
  packages/uniforms-bootstrap3/__tests__/AutoField.tsx
  packages/uniforms-bootstrap3/src/AutoField.tsx
  packages/uniforms-bootstrap4/__tests__/AutoField.tsx
  packages/uniforms-bootstrap4/src/AutoField.tsx
  packages/uniforms-material/__tests__/AutoField.tsx
  packages/uniforms-material/src/AutoField.tsx
  packages/uniforms-semantic/__tests__/AutoField.tsx
  packages/uniforms-semantic/src/AutoField.tsx
  packages/uniforms-unstyled/__tests__/AutoField.tsx
  packages/uniforms-unstyled/src/AutoField.tsx
  packages/uniforms/src/createAutoField.tsx
  packages/uniforms/src/index.ts
Labels: enhancement

#865 Added error styling for ListField in uniforms-antd (closes #844).
  packages/uniforms-antd/__tests__/ListField.tsx
  packages/uniforms-antd/src/ListField.tsx
Labels: enhancement

#866 Updated eslint versions, removed peer dependencies from package.json.
  .eslintrc.json
  .github/workflows/CI.yml
  package-lock.json
  package.json
Labels: dependencies

#870 Configured sideEffects (closes #843).
  CHANGELOG.md
  packages/uniforms-antd/package.json
  packages/uniforms-bootstrap3/package.json
  packages/uniforms-bootstrap4/package.json
  packages/uniforms-bridge-graphql/package.json
  packages/uniforms-bridge-json-schema/package.json
  packages/uniforms-bridge-simple-schema-2/package.json
  packages/uniforms-bridge-simple-schema/package.json
  packages/uniforms-material/package.json
  packages/uniforms-semantic/package.json
  packages/uniforms-unstyled/package.json
  packages/uniforms/package.json
Labels: enhancement

#871 Added Form layout configuration prop in uniforms-antd (closes #861).
  packages/uniforms-antd/src/BaseForm.tsx
Labels: enhancement

#872 Added note about JSONSchemaBridge (closes #863).
  docs/api-bridges.md
Labels: enhancement

#881 Updated contributing guidelines.
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#882 Documented kind option of connectField (closes #878).
  docs/api-helpers.md
Labels: enhancement

#883 Documented customizing AutoField (closes #879).
  docs/uth-autofield-algorithm.md
Labels: enhancement

#885 fix(Playground): JSONSchema example does allow `uniforms` property
  website/lib/presets.ts
Labels: bug
