Repository vazco/uniforms, pull requests merged in 2022-07, with the labels that each got.

#1146 Added missing peerdeps as dependencies to reproductions.
  reproductions/package.json
Labels: Type: Bug, Area: Docs

#1141 JSONSchemaBridge: Get errors for fields with dots
  packages/uniforms-bridge-json-schema/__tests__/JSONSchemaBridge.ts
  packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts
  reproductions/schema/json-schema.tsx
Labels: Area: Bridge, Area: Docs, Bridge: JSON Schema

#1135 Support GraphQL Enums and show them as dropdown
  packages/uniforms-bridge-graphql/__tests__/GraphQLBridge.ts
  packages/uniforms-bridge-graphql/src/GraphQLBridge.ts
Labels: Area: Bridge, Bridge: GraphQL
