Repository vazco/uniforms, pull requests merged in 2022-12, with the labels that each got.

#1201 Update documentation
  .github/CONTRIBUTING.md
  README.md
Labels: Area: Infra, Area: Docs

#1192 Added `absoluteName` option to `AutoField`.
  packages/uniforms-antd/__tests__/AutoField.tsx
  packages/uniforms-bootstrap3/__tests__/AutoField.tsx
  packages/uniforms-bootstrap4/__tests__/AutoField.tsx
  packages/uniforms-bootstrap5/__tests__/AutoField.tsx
  packages/uniforms-material/__tests__/AutoField.tsx
  packages/uniforms-mui/__tests__/AutoField.tsx
  packages/uniforms-semantic/__tests__/AutoField.tsx
  packages/uniforms-unstyled/__tests__/AutoField.tsx
  packages/uniforms/__suites__/AutoField.tsx
  packages/uniforms/__suites__/index.ts
  packages/uniforms/src/createAutoField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1202 Update uniforms docs
  docs/api-fields.md
  docs/api-forms.md
  docs/faq.md
Labels: Area: Docs

#1197 Added compatibility layer to Simple Schema v3 (closes #1189)
  packages/uniforms-bridge-simple-schema-2/src/SimpleSchema2Bridge.ts
Labels: Area: Bridge, Bridge: SimpleSchema (v2)
