Repository vazco/uniforms, pull requests merged in 2022-06, with the labels that each got.

#1124 Configured PRs labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Area: Infra

#1123 Implemented recursive `getInitialValue` for objects (fixes #1112).
  CHANGELOG.md
  packages/uniforms-bridge-graphql/__tests__/GraphQLBridge.ts
  packages/uniforms-bridge-graphql/src/GraphQLBridge.ts
  packages/uniforms-bridge-json-schema/__tests__/JSONSchemaBridge.ts
  packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts
  packages/uniforms-bridge-simple-schema-2/__tests__/SimpleSchema2Bridge.ts
  packages/uniforms-bridge-simple-schema-2/src/SimpleSchema2Bridge.ts
  packages/uniforms-bridge-simple-schema/__tests__/SimpleSchemaBridge.ts
  packages/uniforms-bridge-simple-schema/src/SimpleSchemaBridge.ts
Labels: Type: Bug, Area: Bridge, Bridge: GraphQL, Bridge: JSON Schema, Bridge: SimpleSchema, Bridge: SimpleSchema (v2)

#1129 Added support for React 18 (closes #1109).
  docs/faq.md
  packages/uniforms-antd/package.json
  packages/uniforms-bootstrap3/package.json
  packages/uniforms-bootstrap4/package.json
  packages/uniforms-bootstrap5/package.json
  packages/uniforms-material/package.json
  packages/uniforms-mui/package.json
  packages/uniforms-semantic/package.json
  packages/uniforms-unstyled/package.json
  packages/uniforms/package.json
Labels: Area: Core, Area: Theme, Area: Docs, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1076 Use reusable workflows
  .github/workflows/CI.yml
Labels: Area: Infra
