Repository vazco/uniforms, pull requests merged in 2022-10, with the labels that each got.

#1140 Unified implementation of DateField type handling.
  packages/uniforms-bootstrap3/__tests__/DateField.tsx
  packages/uniforms-bootstrap3/src/DateField.tsx
  packages/uniforms-bootstrap4/__tests__/DateField.tsx
  packages/uniforms-bootstrap4/src/DateField.tsx
  packages/uniforms-bootstrap5/__tests__/DateField.tsx
  packages/uniforms-bootstrap5/src/DateField.tsx
  packages/uniforms-material/__tests__/DateField.tsx
  packages/uniforms-material/src/DateField.tsx
  packages/uniforms-mui/__tests__/DateField.tsx
  packages/uniforms-mui/src/DateField.tsx
  packages/uniforms-semantic/__tests__/DateField.tsx
  packages/uniforms-semantic/src/DateField.tsx
  packages/uniforms-unstyled/__tests__/DateField.tsx
  packages/uniforms-unstyled/src/DateField.tsx
Labels: Area: Theme, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1143 Improved documentation for useForm error.
  docs/api-bridges.md
  docs/faq.md
  packages/uniforms/src/useForm.ts
Labels: Area: Core, Area: Docs

#1170 Fixed unmounted `setState` warning (fixes #1152).
  packages/uniforms/__tests__/BaseForm.tsx
  packages/uniforms/__tests__/ValidatedForm.tsx
  packages/uniforms/src/BaseForm.tsx
Labels: Type: Bug, Area: Core

#1169 Added Zod integration (closes #1159)
  .github/labeler.yml
  package-lock.json
  package.json
  packages/uniforms-bridge-zod/README.md
  packages/uniforms-bridge-zod/__tests__/ZodBridge.ts
  packages/uniforms-bridge-zod/__tests__/index.ts
  packages/uniforms-bridge-zod/package.json
  packages/uniforms-bridge-zod/src/ZodBridge.ts
  packages/uniforms-bridge-zod/src/index.ts
  packages/uniforms-bridge-zod/src/register.ts
  packages/uniforms-bridge-zod/tsconfig.cjs.json
  packages/uniforms-bridge-zod/tsconfig.esm.json
  tsconfig.build.json
  tsconfig.global.json
  website/lib/presets.ts
  website/lib/schema.ts
  website/package.json
Labels: Type: Feature, Area: Infra, Area: Docs, Bridge: Zod

#1174 Documentation: Add warnings about Ajv strict keywords to tutorial
  docs/tutorials-basic-uniforms-usage.mdx
  docs/tutorials-using-predefined-fields.mdx
  website/pages-parts/Tutorial/GuestSchema.ts
  website/pages-parts/Tutorial/GuestSchema2.ts
  website/pages-parts/Tutorial/GuestSchema3.ts
  website/pages-parts/Tutorial/GuestSchema4.ts
Labels: Area: Docs

#1185 Drop support for `initialCount` in bridges and `ListField`s
  docs/migrating-3-to-4.md
  packages/uniforms-antd/__tests__/ListField.tsx
  packages/uniforms-antd/__tests__/_createContext.ts
  packages/uniforms-antd/src/ListAddField.tsx
  packages/uniforms-antd/src/ListField.tsx
  packages/uniforms-bootstrap3/__tests__/ListField.tsx
  packages/uniforms-bootstrap3/__tests__/_createContext.ts
  packages/uniforms-bootstrap3/src/ListAddField.tsx
  packages/uniforms-bootstrap3/src/ListField.tsx
  packages/uniforms-bootstrap4/__tests__/ListField.tsx
  packages/uniforms-bootstrap4/__tests__/_createContext.ts
  packages/uniforms-bootstrap4/src/ListAddField.tsx
  packages/uniforms-bootstrap4/src/ListField.tsx
  packages/uniforms-bootstrap5/__tests__/ListField.tsx
  packages/uniforms-bootstrap5/__tests__/_createContext.ts
  packages/uniforms-bootstrap5/src/ListAddField.tsx
  packages/uniforms-bootstrap5/src/ListField.tsx
  packages/uniforms-bridge-graphql/__tests__/GraphQLBridge.ts
  packages/uniforms-bridge-graphql/src/GraphQLBridge.ts
  packages/uniforms-bridge-json-schema/__tests__/JSONSchemaBridge.ts
  packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts
  packages/uniforms-bridge-simple-schema-2/__tests__/SimpleSchema2Bridge.ts
  packages/uniforms-bridge-simple-schema-2/src/SimpleSchema2Bridge.ts
  packages/uniforms-bridge-simple-schema/__tests__/SimpleSchemaBridge.ts
  packages/uniforms-bridge-simple-schema/src/SimpleSchemaBridge.ts
  packages/uniforms-material/__tests__/ListField.tsx
  packages/uniforms-material/__tests__/_createContext.ts
  packages/uniforms-material/src/ListAddField.tsx
  packages/uniforms-material/src/ListField.tsx
  packages/uniforms-mui/__tests__/ListField.tsx
  packages/uniforms-mui/__tests__/_createContext.ts
  packages/uniforms-mui/src/ListAddField.tsx
  packages/uniforms-mui/src/ListField.tsx
  packages/uniforms-semantic/__tests__/ListField.tsx
  packages/uniforms-semantic/__tests__/_createContext.ts
  packages/uniforms-semantic/src/ListAddField.tsx
  packages/uniforms-semantic/src/ListField.tsx
  packages/uniforms-unstyled/__tests__/ListField.tsx
  packages/uniforms-unstyled/__tests__/_createContext.ts
  packages/uniforms-unstyled/src/ListAddField.tsx
  packages/uniforms-unstyled/src/ListField.tsx
  packages/uniforms/__suites__/ListField.tsx
  packages/uniforms/__suites__/render.tsx
  packages/uniforms/src/Bridge.ts
  packages/uniforms/src/filterDOMProps.ts
  packages/uniforms/src/types.ts
  packages/uniforms/src/useField.tsx
Labels: Area: Core, Area: Theme, Area: Bridge, Area: Docs, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled, Bridge: GraphQL, Bridge: JSON Schema, Bridge: SimpleSchema, Bridge: SimpleSchema (v2)

#1181 Add `includeInChain` to the breaking changes list of migration guide v2 to v3
  docs/migrating-2-to-3.md
Labels: Area: Docs

#1184 Update Husky and Lint Staged
  .github/labeler.yml
  .husky/pre-commit
  .huskyrc.json
  package-lock.json
  package.json
Labels: Area: Infra

#1182 Updated Docusaurus version and changed syntax highlighting theme
  package-lock.json
  package.json
  website/components/CodeSection.tsx
  website/docusaurus.config.js
  website/package.json
  website/plugins/docusaurus-plugin-hotjar/package.json
Labels: Area: Infra, Area: Docs

#1180 Remove autoField prop from QuickForm and AutoForm
  docs/api-fields.md
  docs/api-forms.md
  docs/examples-custom-fields.mdx
  docs/migrating-3-to-4.md
  docs/uth-autofield-algorithm.md
  packages/uniforms-antd/__tests__/AutoFields.tsx
  packages/uniforms-antd/src/AutoFields.tsx
  packages/uniforms-bootstrap3/__tests__/AutoFields.tsx
  packages/uniforms-bootstrap3/src/AutoFields.tsx
  packages/uniforms-bootstrap4/__tests__/AutoFields.tsx
  packages/uniforms-bootstrap4/src/AutoFields.tsx
  packages/uniforms-bootstrap5/__tests__/AutoFields.tsx
  packages/uniforms-bootstrap5/src/AutoFields.tsx
  packages/uniforms-material/__tests__/AutoFields.tsx
  packages/uniforms-material/src/AutoFields.tsx
  packages/uniforms-mui/__tests__/AutoFields.tsx
  packages/uniforms-mui/src/AutoFields.tsx
  packages/uniforms-semantic/__tests__/AutoFields.tsx
  packages/uniforms-semantic/src/AutoFields.tsx
  packages/uniforms-unstyled/__tests__/AutoFields.tsx
  packages/uniforms-unstyled/src/AutoFields.tsx
  packages/uniforms/__tests__/AutoForm.tsx
  packages/uniforms/__tests__/QuickForm.tsx
  packages/uniforms/src/QuickForm.tsx
Labels: Area: Core, Area: Theme, Area: Docs, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1175 Changed the way `getInitialValue` works with `undefined`s (closes #1171).
  packages/uniforms-bridge-graphql/__tests__/GraphQLBridge.ts
  packages/uniforms-bridge-json-schema/__tests__/JSONSchemaBridge.ts
  packages/uniforms-bridge-json-schema/src/JSONSchemaBridge.ts
  packages/uniforms-bridge-simple-schema-2/__tests__/SimpleSchema2Bridge.ts
  packages/uniforms-bridge-simple-schema-2/src/SimpleSchema2Bridge.ts
  packages/uniforms-bridge-simple-schema/__tests__/SimpleSchemaBridge.ts
  packages/uniforms-bridge-simple-schema/src/SimpleSchemaBridge.ts
Labels: Area: Bridge, Bridge: GraphQL, Bridge: JSON Schema, Bridge: SimpleSchema, Bridge: SimpleSchema (v2)
