Repository vazco/uniforms, pull requests merged in 2023-03, with the labels that each got.

#1193 Migrate core tests from Enzyme to React Testing Library
  packages/uniforms/__suites__/render.tsx
  packages/uniforms/__tests__/AutoForm.tsx
  packages/uniforms/__tests__/ValidatedForm.tsx
  packages/uniforms/__tests__/useField.tsx
Labels: Type: Feature, Area: Core

#1232 Handled minLength and maxLength (closes #1223).
  packages/uniforms-bootstrap5/__tests__/TextField.tsx
  packages/uniforms-bootstrap5/src/TextField.tsx
Labels: Type: Feature, Area: Theme, Theme: Bootstrap 5

#1227 Handled `min` and `max` props in Material UI and MUI (closes #1213).
  packages/uniforms-material/src/DateField.tsx
  packages/uniforms-mui/src/DateField.tsx
Labels: Type: Feature, Area: Theme, Theme: Material-UI, Theme: MUI

#1234 Fixed Bootstrap 5 ListField controls (closes #1226).
  packages/uniforms-bootstrap5/__tests__/ListAddField.tsx
  packages/uniforms-bootstrap5/__tests__/ListDelField.tsx
  packages/uniforms-bootstrap5/src/ListAddField.tsx
  packages/uniforms-bootstrap5/src/ListDelField.tsx
  packages/uniforms-bootstrap5/src/ListItemField.tsx
  reproductions/index.html
  website/lib/styles.tsx
Labels: Type: Feature, Area: Theme, Area: Docs, Theme: Bootstrap 5

#1237 Fix package downloads
  website/lib/stats.ts
Labels: Type: Bug, Area: Docs

#1239 Added `ZodBridge` example and schema docs links.
  docs/api-bridges.md
  website/static/img/bridge-concept.svg
Labels: Area: Docs

#1253 handled minLength and maxLength (closes #1252)
  packages/uniforms-bootstrap5/__tests__/LongTextField.tsx
  packages/uniforms-bootstrap5/src/LongTextField.tsx
Labels: Type: Feature, Area: Theme, Theme: Bootstrap 5

#1243 Migrated `ListAddField` tests to @testing-library/react.
  packages/uniforms-antd/__tests__/ListAddField.tsx
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-bootstrap3/__tests__/ListAddField.tsx
  packages/uniforms-bootstrap3/__tests__/index.ts
  packages/uniforms-bootstrap4/__tests__/ListAddField.tsx
  packages/uniforms-bootstrap4/__tests__/index.ts
  packages/uniforms-bootstrap5/__tests__/ListAddField.tsx
  packages/uniforms-bootstrap5/__tests__/index.ts
  packages/uniforms-material/__tests__/ListAddField.tsx
  packages/uniforms-material/__tests__/index.ts
  packages/uniforms-mui/__tests__/ListAddField.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-semantic/__tests__/ListAddField.tsx
  packages/uniforms-semantic/__tests__/index.ts
  packages/uniforms-unstyled/__tests__/ListAddField.tsx
  packages/uniforms-unstyled/__tests__/index.ts
  packages/uniforms/__suites__/ListAddField.tsx
  packages/uniforms/__suites__/index.ts
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1247 Migrated `HiddenField` tests to @testing-library/react.
  packages/uniforms-antd/__tests__/HiddenField.tsx
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-bootstrap3/__tests__/HiddenField.tsx
  packages/uniforms-bootstrap3/__tests__/index.ts
  packages/uniforms-bootstrap4/__tests__/HiddenField.tsx
  packages/uniforms-bootstrap4/__tests__/index.ts
  packages/uniforms-bootstrap5/__tests__/HiddenField.tsx
  packages/uniforms-bootstrap5/__tests__/index.ts
  packages/uniforms-material/__tests__/HiddenField.tsx
  packages/uniforms-material/__tests__/index.ts
  packages/uniforms-mui/__tests__/HiddenField.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-semantic/__tests__/HiddenField.tsx
  packages/uniforms-semantic/__tests__/index.ts
  packages/uniforms-unstyled/__tests__/HiddenField.tsx
  packages/uniforms-unstyled/__tests__/index.ts
  packages/uniforms/__suites__/HiddenField.tsx
  packages/uniforms/__suites__/index.ts
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1250 Migrated `NumField` tests to @testing-library/react.
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-bootstrap3/__tests__/NumField.tsx
  packages/uniforms-bootstrap3/__tests__/index.ts
  packages/uniforms-bootstrap4/__tests__/NumField.tsx
  packages/uniforms-bootstrap4/__tests__/index.ts
  packages/uniforms-bootstrap5/__tests__/NumField.tsx
  packages/uniforms-bootstrap5/__tests__/index.ts
  packages/uniforms-material/__tests__/NumField.tsx
  packages/uniforms-material/__tests__/index.ts
  packages/uniforms-mui/__tests__/NumField.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-semantic/__tests__/NumField.tsx
  packages/uniforms-semantic/__tests__/index.ts
  packages/uniforms-unstyled/__tests__/NumField.tsx
  packages/uniforms-unstyled/__tests__/index.ts
  packages/uniforms/__suites__/NumField.tsx
  packages/uniforms/__suites__/index.ts
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1251 Migrated `LongTextField` tests to @testing-library/react
  packages/uniforms-antd/__tests__/LongTextField.tsx
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-bootstrap3/__tests__/LongTextField.tsx
  packages/uniforms-bootstrap3/__tests__/index.ts
  packages/uniforms-bootstrap4/__tests__/LongTextField.tsx
  packages/uniforms-bootstrap4/__tests__/index.ts
  packages/uniforms-bootstrap5/__tests__/LongTextField.tsx
  packages/uniforms-bootstrap5/__tests__/index.ts
  packages/uniforms-material/__tests__/LongTextField.tsx
  packages/uniforms-material/__tests__/index.ts
  packages/uniforms-mui/__tests__/LongTextField.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-semantic/__tests__/LongTextField.tsx
  packages/uniforms-semantic/__tests__/index.ts
  packages/uniforms-unstyled/__tests__/LongTextField.tsx
  packages/uniforms-unstyled/__tests__/index.ts
  packages/uniforms/__suites__/LongTextField.tsx
  packages/uniforms/__suites__/index.ts
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled
