Repository vazco/uniforms, pull requests merged in 2023-06, with the labels that each got.

#1272 Changed year on the footer in docs
  website/pages-parts/LandingPage/Footer.tsx
Labels: Area: Docs

#1269 Migrated `SubmitField` tests to @testing-library/react
  packages/uniforms-antd/__tests__/SubmitField.tsx
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-bootstrap3/__tests__/SubmitField.tsx
  packages/uniforms-bootstrap3/__tests__/index.ts
  packages/uniforms-bootstrap4/__tests__/SubmitField.tsx
  packages/uniforms-bootstrap4/__tests__/index.ts
  packages/uniforms-bootstrap5/__tests__/SubmitField.tsx
  packages/uniforms-bootstrap5/__tests__/index.ts
  packages/uniforms-material/__tests__/SubmitField.tsx
  packages/uniforms-material/__tests__/index.ts
  packages/uniforms-mui/__tests__/SubmitField.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-semantic/__tests__/SubmitField.tsx
  packages/uniforms-semantic/__tests__/index.ts
  packages/uniforms-unstyled/__tests__/SubmitField.tsx
  packages/uniforms-unstyled/__tests__/index.ts
  packages/uniforms/__suites__/SubmitField.tsx
  packages/uniforms/__suites__/index.ts
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1273 Fix playground bridge constructor options
  website/lib/presets.ts
Labels: Area: Docs

#1268 Migrated `BoolField` tests to @testing-library/react
  packages/uniforms-antd/__tests__/BoolField.tsx
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-bootstrap3/__tests__/BoolField.tsx
  packages/uniforms-bootstrap3/__tests__/index.ts
  packages/uniforms-bootstrap4/__tests__/BoolField.tsx
  packages/uniforms-bootstrap4/__tests__/index.ts
  packages/uniforms-bootstrap5/__tests__/BoolField.tsx
  packages/uniforms-bootstrap5/__tests__/index.ts
  packages/uniforms-material/__tests__/BoolField.tsx
  packages/uniforms-material/__tests__/index.ts
  packages/uniforms-mui/__tests__/BoolField.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-semantic/__tests__/BoolField.tsx
  packages/uniforms-semantic/__tests__/index.ts
  packages/uniforms-unstyled/__tests__/BoolField.tsx
  packages/uniforms-unstyled/__tests__/index.ts
  packages/uniforms/__suites__/BoolField.tsx
  packages/uniforms/__suites__/index.ts
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1274 Add Node 20 to the CI workflow, move building docs to Node 20
  .github/workflows/CI.yml
  package-lock.json
  package.json
  reproductions/package.json
Labels: Area: Infra, Area: Docs
