Repository vazco/uniforms, pull requests merged in 2024-04, with the labels that each got.

#1312 Enable AntD SelectField tests suite
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-antd/src/SelectField.tsx
  packages/uniforms/__suites__/SelectField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD

#1294 Migrated `SelectField` tests to @testing-library/react
  .gitignore
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-antd/src/SelectField.tsx
  packages/uniforms-bootstrap3/__tests__/SelectField.tsx
  packages/uniforms-bootstrap3/__tests__/index.ts
  packages/uniforms-bootstrap4/__tests__/SelectField.tsx
  packages/uniforms-bootstrap4/__tests__/index.ts
  packages/uniforms-bootstrap5/__tests__/SelectField.tsx
  packages/uniforms-bootstrap5/__tests__/index.ts
  packages/uniforms-material/__tests__/index.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-semantic/__tests__/index.ts
  packages/uniforms-unstyled/__tests__/SelectField.tsx
  packages/uniforms-unstyled/__tests__/index.ts
  packages/uniforms/__suites__/SelectField.tsx
  packages/uniforms/__suites__/index.ts
  packages/uniforms/__suites__/render-zod.tsx
Labels: Area: Infra, Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1326 Add CodecovCI token
  .github/labeler.yml
  .github/workflows/CI.yml
  .github/workflows/labeler.yml
Labels: Area: Infra
