Repository vazco/uniforms, pull requests merged in 2024-06, with the labels that each got.

#1318 Migrated `wrapField` tests to @testing-library/react
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-antd/__tests__/wrapField.tsx
  packages/uniforms-bootstrap3/__tests__/wrapField.tsx
  packages/uniforms-bootstrap4/__tests__/index.ts
  packages/uniforms-bootstrap4/__tests__/wrapField.tsx
  packages/uniforms-bootstrap5/__tests__/index.ts
  packages/uniforms-bootstrap5/__tests__/wrapField.tsx
  packages/uniforms-material/__tests__/wrapField.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-mui/__tests__/wrapField.tsx
  packages/uniforms/__suites__/index.ts
  packages/uniforms/__suites__/wrapField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 3, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI

#1323 Deprecate `uniforms-bridge-simple-schema` package
  .eslintrc.json
  .github/labeler.yml
  README.md
  docs/api-bridges.md
  jest.config.js
  packages/uniforms-bridge-simple-schema/README.md
  packages/uniforms-bridge-simple-schema/__tests__/SimpleSchemaBridge.ts
  packages/uniforms-bridge-simple-schema/__tests__/index.ts
  packages/uniforms-bridge-simple-schema/package.json
  packages/uniforms-bridge-simple-schema/src/SimpleSchemaBridge.ts
  packages/uniforms-bridge-simple-schema/src/index.ts
  packages/uniforms-bridge-simple-schema/src/register.ts
  packages/uniforms-bridge-simple-schema/tsconfig.cjs.json
  packages/uniforms-bridge-simple-schema/tsconfig.esm.json
  packages/uniforms/__mocks__/meteor/aldeed_simple-schema.ts
  packages/uniforms/__mocks__/meteor/check.ts
  reproductions/package.json
  tsconfig.build.json
  tsconfig.global.json
  website/package.json
  website/types/meteor_aldeed_simple-schema.d.ts
Labels: Area: Infra, Area: Core, Area: Bridge, Area: Docs, Bridge: SimpleSchema

#1337 Add section about development best practices to CONTRIBUTING
  .github/CONTRIBUTING.md
Labels: Area: Infra

#1343 Initialize model with default values
  jest.config.js
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-bootstrap4/__tests__/index.ts
  packages/uniforms-bootstrap5/__tests__/index.ts
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-semantic/__tests__/index.ts
  packages/uniforms-unstyled/__tests__/index.ts
  packages/uniforms/__suites__/ListAddField.tsx
  packages/uniforms/__suites__/ListDelField.tsx
  packages/uniforms/__suites__/ListField.tsx
  packages/uniforms/__suites__/RadioField.tsx
  packages/uniforms/__suites__/render-zod.tsx
  packages/uniforms/__suites__/render.tsx
  packages/uniforms/__tests__/AutoForm.tsx
  packages/uniforms/__tests__/ValidatedForm.tsx
  packages/uniforms/__tests__/connectField.tsx
  packages/uniforms/src/AutoForm.tsx
  packages/uniforms/src/Bridge.ts
  packages/uniforms/src/useField.tsx
  scripts/setupFilterWarnings.ts
Labels: Area: Infra, Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1350 Migrated `NestField` tests to @testing-library/react
  packages/uniforms-mui/__tests__/NestField.tsx
Labels: Area: Theme, Theme: MUI

#1338 Deprecate `uniforms-material` theme
  .github/labeler.yml
  README.md
  docs/installation.mdx
  package-lock.json
  package.json
  packages/uniforms-material/README.md
  packages/uniforms-material/__tests__/DateField.tsx
  packages/uniforms-material/__tests__/ErrorField.tsx
  packages/uniforms-material/__tests__/ErrorsField.tsx
  packages/uniforms-material/__tests__/NestField.tsx
  packages/uniforms-material/__tests__/SelectField.tsx
  packages/uniforms-material/__tests__/_createContext.ts
  packages/uniforms-material/__tests__/_createSchema.ts
  packages/uniforms-material/__tests__/_mount.tsx
  packages/uniforms-material/__tests__/index.tsx
  packages/uniforms-material/package.json
  packages/uniforms-material/src/AutoField.tsx
  packages/uniforms-material/src/AutoFields.tsx
  packages/uniforms-material/src/AutoForm.tsx
  packages/uniforms-material/src/BaseForm.tsx
  packages/uniforms-material/src/BoolField.tsx
  packages/uniforms-material/src/DateField.tsx
  packages/uniforms-material/src/ErrorField.tsx
  packages/uniforms-material/src/ErrorsField.tsx
  packages/uniforms-material/src/HiddenField.tsx
  packages/uniforms-material/src/ListAddField.tsx
  packages/uniforms-material/src/ListDelField.tsx
  packages/uniforms-material/src/ListField.tsx
  packages/uniforms-material/src/ListItemField.tsx
  packages/uniforms-material/src/LongTextField.tsx
  packages/uniforms-material/src/NestField.tsx
  packages/uniforms-material/src/NumField.tsx
  packages/uniforms-material/src/QuickForm.tsx
  packages/uniforms-material/src/RadioField.tsx
  packages/uniforms-material/src/SelectField.tsx
  packages/uniforms-material/src/SubmitField.tsx
  packages/uniforms-material/src/TextField.tsx
  packages/uniforms-material/src/ValidatedForm.tsx
  packages/uniforms-material/src/ValidatedQuickForm.tsx
  packages/uniforms-material/src/index.ts
  packages/uniforms-material/src/types.ts
  packages/uniforms-material/src/wrapField.tsx
  packages/uniforms-material/tsconfig.cjs.json
  packages/uniforms-material/tsconfig.esm.json
  packages/uniforms/__suites__/BoolField.tsx
  reproductions/App.tsx
  reproductions/package.json
  tsconfig.build.json
  tsconfig.global.json
  website/components/ExampleCustomizer.tsx
  website/components/Playground.tsx
  website/components/TutorialForm.tsx
  website/lib/styles.tsx
  website/lib/universal.tsx
  website/package.json
  website/pages-parts/LandingPage/WhyUs.tsx
Labels: Area: Infra, Area: Core, Area: Theme, Area: Docs, Theme: Material-UI

#1340 Migrated `DateField` tests to @testing-library/react
  packages/uniforms-antd/__tests__/DateField.tsx
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-mui/__tests__/DateField.tsx
  packages/uniforms/__suites__/DateField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Material-UI, Theme: MUI

#1310 Add build workflow job with concentrated docs artefact
  .github/workflows/CI.yml
  scripts/concatenateDocs.js
Labels: Area: Infra
