Repository vazco/uniforms, pull requests merged in 2024-07, with the labels that each got.

#1355 Enable mui SelectField suite tests
  packages/uniforms-mui/__tests__/SelectField.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms/__suites__/SelectField.tsx
Labels: Area: Core, Area: Theme, Theme: MUI

#1352 Fixed optional array fields (Zod bridge)
  packages/uniforms-bridge-zod/src/ZodBridge.ts
Labels: Area: Bridge, Bridge: Zod

#1356 Blank `TextField` and `LongTextField`
  packages/uniforms-antd/src/LongTextField.tsx
  packages/uniforms-antd/src/TextField.tsx
  packages/uniforms-bootstrap4/src/LongTextField.tsx
  packages/uniforms-bootstrap4/src/TextField.tsx
  packages/uniforms-bootstrap5/src/LongTextField.tsx
  packages/uniforms-bootstrap5/src/TextField.tsx
  packages/uniforms-mui/src/LongTextField.tsx
  packages/uniforms-mui/src/TextField.tsx
  packages/uniforms-semantic/src/LongTextField.tsx
  packages/uniforms-semantic/src/TextField.tsx
  packages/uniforms-unstyled/src/LongTextField.tsx
  packages/uniforms-unstyled/src/TextField.tsx
  packages/uniforms/__suites__/LongTextField.tsx
  packages/uniforms/__suites__/TextField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled

#1351 Migrated `SelectField` tests to @testing-library/react
  packages/uniforms-antd/__tests__/SelectField.tsx
  packages/uniforms-mui/__tests__/SelectField.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-semantic/__tests__/SelectField.tsx
  packages/uniforms-semantic/__tests__/index.ts
  packages/uniforms/__suites__/SelectField.tsx
Labels: Area: Core, Area: Theme, Theme: AntD, Theme: MUI, Theme: Semantic UI

#1361 Remove enzyme from uniforms
  jest.config.js
  package-lock.json
  package.json
  packages/uniforms-antd/__tests__/_mount.tsx
  packages/uniforms-bootstrap4/__tests__/_mount.tsx
  packages/uniforms-bootstrap5/__tests__/_mount.tsx
  packages/uniforms-mui/__tests__/_mount.tsx
  packages/uniforms-semantic/__tests__/_mount.tsx
  packages/uniforms/__tests__/_mount.tsx
  scripts/setupJest.ts
Labels: Area: Infra, Area: Core, Area: Theme, Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: Material-UI, Theme: MUI, Theme: Semantic UI
