Repository vazco/uniforms, pull requests merged in 2024-10, with the labels that each got.

#1375 Update react 18 antd5
  jest.config.js
  packages/uniforms-antd/__tests__/DateField.tsx
  packages/uniforms-antd/__tests__/SelectField.tsx
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-antd/__tests__/wrapField.tsx
  packages/uniforms-antd/package.json
  packages/uniforms-antd/src/DateField.tsx
  packages/uniforms-antd/src/ListDelField.tsx
  packages/uniforms-antd/src/NumField.tsx
  packages/uniforms-antd/src/SelectField.tsx
  packages/uniforms-antd/src/SubmitField.tsx
  packages/uniforms-antd/src/TextField.tsx
  packages/uniforms/__suites__/NumField.tsx
  packages/uniforms/__suites__/SelectField.tsx
  pnpm-lock.yaml
Labels: Area: Infra, Area: Core, Area: Theme, Theme: AntD

#1376 Update React to v18 & AntD to v5
  .eslintignore
  .eslintrc.json
  .github/CONTRIBUTING.md
  .github/workflows/CI.yml
  .gitignore
  .lintstagedrc.js
  .npmrc
  .prettierignore
  jest.config.js
  package-lock.json
  package.json
  packages/uniforms-antd/__tests__/DateField.tsx
  packages/uniforms-antd/__tests__/SelectField.tsx
  packages/uniforms-antd/__tests__/index.ts
  packages/uniforms-antd/__tests__/wrapField.tsx
  packages/uniforms-antd/package.json
  packages/uniforms-antd/src/DateField.tsx
  packages/uniforms-antd/src/ListDelField.tsx
  packages/uniforms-antd/src/NumField.tsx
  packages/uniforms-antd/src/SelectField.tsx
  packages/uniforms-antd/src/SubmitField.tsx
  packages/uniforms-antd/src/TextField.tsx
  packages/uniforms-bootstrap4/package.json
  packages/uniforms-bootstrap5/package.json
  packages/uniforms-bootstrap5/src/SubmitField.tsx
  packages/uniforms-bridge-simple-schema-2/package.json
  packages/uniforms-bridge-simple-schema-2/simple-schema.d.ts
  packages/uniforms-mui/__tests__/DateField.tsx
  packages/uniforms-mui/__tests__/SelectField.tsx
  packages/uniforms-mui/__tests__/index.ts
  packages/uniforms-mui/package.json
  packages/uniforms-mui/src/BoolField.tsx
  packages/uniforms-mui/src/SelectField.tsx
  packages/uniforms-semantic/package.json
  packages/uniforms-unstyled/package.json
  packages/uniforms/__suites__/AutoField.tsx
  packages/uniforms/__suites__/NumField.tsx
  packages/uniforms/__suites__/RadioField.tsx
  packages/uniforms/__suites__/SelectField.tsx
  packages/uniforms/__tests__/AutoForm.tsx
  packages/uniforms/__tests__/BaseForm.tsx
  packages/uniforms/__tests__/ValidatedForm.tsx
  packages/uniforms/package.json
  packages/uniforms/src/BaseForm.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  reproductions/index.tsx
  reproductions/package-lock.json
  reproductions/package.json
  tsconfig.json
Labels: Area: Infra, Area: Core, Area: Theme, Area: Bridge, Area: Docs, Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled, Bridge: SimpleSchema (v2)

#1354 Removed setting initial value for enum type
  packages/uniforms-bridge-zod/__tests__/ZodBridge.ts
  packages/uniforms-bridge-zod/src/ZodBridge.ts
  packages/uniforms-mui/__tests__/SelectField.tsx
  packages/uniforms/__suites__/RadioField.tsx
  packages/uniforms/__suites__/SelectField.tsx
Labels: Area: Core, Area: Theme, Area: Bridge, Theme: MUI, Bridge: Zod

#1377 Update packages & changelog
  CHANGELOG.md
  packages/uniforms-antd/package.json
  packages/uniforms-bootstrap4/package.json
  packages/uniforms-bootstrap5/package.json
  packages/uniforms-bridge-json-schema/package.json
  packages/uniforms-bridge-simple-schema-2/package.json
  packages/uniforms-bridge-zod/package.json
  packages/uniforms-mui/package.json
  packages/uniforms-semantic/package.json
  packages/uniforms-unstyled/package.json
  packages/uniforms/package.json
  pnpm-lock.yaml
Labels: Area: Core, Area: Theme, Area: Bridge, Theme: AntD, Theme: Bootstrap 4, Theme: Bootstrap 5, Theme: MUI, Theme: Semantic UI, Theme: Unstyled, Bridge: JSON Schema, Bridge: SimpleSchema (v2), Bridge: Zod

#1380 Updated supported version of React in AntD theme
  packages/uniforms-antd/package.json
  pnpm-lock.yaml
Labels: Area: Theme, Theme: AntD

#1381 Update MUI to v6
  packages/uniforms-mui/package.json
  pnpm-lock.yaml
  reproductions/package.json
Labels: Area: Theme, Area: Docs, Theme: MUI
